extends layout

block content
	#logo
		img(src="/images/logo.png")
		h1 SmackOverflow
	#about
		h3 Goodbye Cruel World!
		p This is a user-submitted insult site focused on tech-related smack-downs. It's 100% free and we dare you to insult eachother!
	#submit
		h2 + Submit Smack
	#tabs
		ul
			li: h3 Top
			li: h3 New
	.smack
		img(src="/images/upvote.png")
		span.votes 70
		span.text If I wanted garbage collection I'd be hanging out with your mother and sister. 
	.smack
		img(src="/images/upvote.png")
		span.votes 50
		span.text Josh is dumb
	.smack
		img(src="/images/upvote.png")
		span.votes 30
		span.text Steve is dumb
